[Unit]
Description=Rust Fireplace Server
After=rsyslog.target

[Service]
WorkingDirectory=/home/bgoldberg
ExecStart=/home/bgoldberg/fireplace-rs server 0.0.0.0:80
Restart=always
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
